/*MACROSTRUTTURA*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif
}

img{
    width: 100px;
}

h1{
    font-size: 50px;
    font-weight: 600;
}

#container-header{
    display: flex;
    justify-content: space-between;
}

.box-header{
    display: flex;
    align-items: center;
}

#send{
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

main{
    background-color: #7ffed5;
    min-height: 100px;
    width: 100%;
    padding: 50px;
}

#grid{
    width: 650px;
    border: 1px solid black;
    margin: auto;
    height: 650px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#container-footer{
    margin: 20px;
    font-size: 20px;
}


/*Struttura gestita con js*/

.square{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.active{
    background-color: blue;
    color: white;
}